.margen-separacion-breadcrumb{
	margin-top: 20px;
}

@media (min-width: 768px){
	.ancho-contenedor-evento{
		height: 116px;
	}
	
	.borde-separacion{
		border-bottom: 1px  dotted black;
	}

	.centrado-boton-compra-evento{
		margin-top: 40px;
    	margin-left: 15px;
	}
}