<div class="container">
	<div class="row row-content">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"  ng-repeat="evento in listaEventos">
					<div class="card ">
						<a href="{{getUrlDetalle(evento)}}">
			  				<img class="card-img-top img-responsive" src="img/evento1.jpg" alt="Card image cap">
		  				</a>
			  			<div class="card-block espacio-div-inferior">
			    			<h4 class="card-title">{{evento.name}}</h4>
			    			<p class="card-text"><i class ="fa fa-calendar" aria-hidden="true"></i> {{evento.date | date:'dd/MM/yyyy'}}</p>
			    			<p class="card-text"><i class ="fa fa-clock-o" aria-hidden="true"></i> {{evento.date | date:'HH:mm'}} </p>
			    			<p>{{evento.description}}</p>
			    			<a href="#"" class="btn btn-primary">
								<span class="glyphicon glyphicon-shopping-cart"></span> Comprar
							</a>
			  			</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>