<div class="container">
	<div class="row row-content">
			<div class= "col-xs-12 margen-separacion-breadcrumb">
				<ol class="breadcrumb">
	 				 <li class="breadcrumb-item"><a href="#/evento/">Home</a></li>
	  				<li class="breadcrumb-item active">Mis compras</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-sm-2">Con filtro creado</div>
	 		<div ng-repeat="evento in listaEventosOrder | agruparPorID">
	 			evento: {{evento.id}}
	 			cantidad: {{evento.quantity}}
	 		</div>
	 	</div>
	</div>
</div>