
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Selección entradas</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal"> 
               <div class=" form-group">
            		<label for="selectorEntradas" class="col-sm-2 control-label">Entradas </label>
            		<div class="col-sm-10">
                		<select class="form-control" id="selectorEntradas">
                			<option ng-repeat="numeroEntradas in range(evento.minimum, evento.maximum)">{{numeroEntradas}}</option>
                		</select>
            		</div>
            	</div>
                <div class=" form-group">
                    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe aquí tu nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Escribe aquí tu email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Escribe aquí tu telefono">
                    </div>
                </div>
            </div>
    
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="finalizarCompra()">Realizar compra</button>
</div>
  